Importar csv desde un link de google drive y ver que tienen integrado, cuales son las variables y que tipo de datos contienen

Los archivos a utilizar en el siguiente notebook se pueden encontrar en https://drive.google.com/drive/folders/1Zauxz1bBC6ZKu874hS-VV2_mSCRZo444?usp=sharing

In [441]:
import pandas as pd
import numpy as np

In [ ]:
df_movies = pd.read_csv('movies_dataset', sep=',', encoding= 'utf-8')

Eliminar las columnas que no serán utilizadas, video,imdb_id,adult,original_title,poster_path y homepage.

In [443]:
df_movies.drop(columns= ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage'], inplace=True)

Los valores nulos del campo release date deben eliminarse.

In [444]:
df_movies.dropna(subset= ['release_date'], inplace=True)
df_movies['release_date'].isna().sum()

0

Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0.

In [445]:
df_movies.revenue.fillna(0, inplace=True)
df_movies.budget.fillna(0, inplace=True)

Libreria ast

In [446]:
import ast

new_column= []

for i in df_movies['belongs_to_collection']:

    if type(i) == str:
        i= ast.literal_eval(i)
    
    new_column.append(i)

In [447]:
id_values= []
name_values= []
poster_path= []
backdrop_path= []

In [448]:
for i in new_column:
    if type(i) == float: id_values.append(i), name_values.append(i), poster_path.append(i), backdrop_path.append(i)
    
    if type(i) == dict: 

        id_values.append(i.get("id"))
        name_values.append(i.get("name"))
        poster_path.append(i.get("poster_path"))
        backdrop_path.append(i.get("backdrop_path"))

Agregar nuevas columnas al dataframe

In [449]:
df_movies['id_collection']= id_values
df_movies['name_collection']= name_values
df_movies['poster_path_collection']= poster_path
df_movies['backdrop_path_collection']= backdrop_path

Desanidar columna genres

In [450]:
import ast

new_column= []

for i in df_movies['genres']:

    if type(i) == str:
        i= ast.literal_eval(i)
    
    new_column.append(i)

In [451]:
id_genre=[]
name_genre=[]

In [452]:
for i in new_column:

    if type(i) == float: id_genre.append(i), name_genre.append(i)
    
    if type(i) == dict: 

        id_genre.append(i.get("id"))
        name_genre.append(i.get("name"))
    
    if type(i) == list:
        
        id= []
        name= []

        for num in range(len(i)):

            id.append(i[num].get("id"))
            name.append(i[num].get("name"))

        id_genre.append(id)
        name_genre.append(name)

Agregar nuevas columnas al dataframe

In [453]:
df_movies['id_genre']= id_genre
df_movies['name_genre']= name_genre

Desanidar columna: spoken_languages

In [454]:
import ast

new_column= []

for i in df_movies['spoken_languages']:

    if type(i) == str:
        i= ast.literal_eval(i)
    
    new_column.append(i)

In [455]:
iso_639_1=[]
name_language=[]

In [456]:
for i in new_column:

    if type(i) == float: iso_639_1.append(i), name_language.append(i)
    
    if type(i) == dict: 

        iso_639_1.append(i.get("iso_639_1"))
        name_language.append(i.get("name"))
    
    if type(i) == list:
        
        id= []
        name= []

        for num in range(len(i)):

            id.append(i[num].get("iso_639_1"))
            name.append(i[num].get("name"))

        iso_639_1.append(id)
        name_language.append(name)

Agregar nuevas columnas al dataframe

In [457]:
df_movies['iso_639_1']= iso_639_1
df_movies['name_language']= name_language

Desanidar columna production_companies

In [458]:
import ast

new_column= []

In [459]:
for i in df_movies['production_companies']:

    if type(i) == str:
        i= ast.literal_eval(i)
    
    new_column.append(i)

Transformar el valor de algunos registros que contenian una variable booleana: False. Esto no permitia desanidar la columna 'production_companies'

In [460]:
for i, var in enumerate (new_column):
    
    if type(var) != list: print(i, var)

19714 False
29472 False
35543 False

In [461]:
new_column[19714] = []
new_column[29472] = []
new_column[35543] = []

In [462]:
id_production_companies=[]
name_production_companies=[]

In [463]:
for i in new_column:

    if type(i) == float:
        id_production_companies.append(i), name_language.append(i)

    
    if type(i) == dict: 

        id_production_companies.append(i.get("id"))
        name_production_companies.append(i.get("name"))
    
    if type(i) == list:
        
        id= []
        name= []

        for num in range(len(i)):

            id.append(i[num].get("id"))
            name.append(i[num].get("name"))

        id_production_companies.append(id)
        name_production_companies.append(name)

Agregar nuevas columnas al dataframe

In [464]:
df_movies['id_production_companies']= id_production_companies
df_movies['name_production_companies']= name_production_companies

Desanidar columna: production_countries

In [465]:
import ast

new_column= []

In [466]:
for i in df_movies['production_countries']:

    if type(i) == str:
        i= ast.literal_eval(i)
    
    new_column.append(i)

In [467]:
iso_country=[]
name_country=[]

In [468]:
for i in new_column:

    if type(i) == float:
        iso_country.append(i), name_country.append(i)

    
    if type(i) == dict: 

        iso_country.append(i.get("iso_3166_1"))
        name_country.append(i.get("name"))
    
    if type(i) == list:
        
        id= []
        name= []

        for num in range(len(i)):

            id.append(i[num].get("iso_3166_1"))
            name.append(i[num].get("name"))

        iso_country.append(id)
        name_country.append(name)

Agregar nuevas columnas al dataframe

In [469]:
df_movies['iso_country']= iso_country
df_movies['name_country']= name_country

Quitar columnas desanidadas del dataframe

In [470]:
df_movies.drop(columns= ['belongs_to_collection', 'spoken_languages', 'genres', 'production_countries', 'production_companies'], inplace=True)

Extraer este dataframe como un csv, solo con las primeras instrucciones y los campos desanidados

In [471]:
df_movies.to_csv('movies_desanidado.csv', index=False)

Algunos datos de la columna 'Budget' contenian strings en vez de numeros, esas filas ademas tenian mal la mayoria de las columnas por lo que son eliminadas

In [474]:
df_movies[df_movies['budget'].str.contains('jpg')]

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,poster_path_collection,backdrop_path_collection,id_genre,name_genre,iso_639_1,name_language,id_production_companies,name_production_companies,iso_country,name_country
19730,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,1997-08-20,104.0,Released,NaN,1,0.0,NaN,NaN,NaN,...,0.065736,0.065736,"[11176, 11602, 29812]","[Carousel Productions, Vision View Entertainme...",NaN,NaN,[],[],6.0,6.0
29503,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,2012-09-29,68.0,Released,NaN,12,0.0,NaN,NaN,NaN,...,1.931659,1.931659,"[2883, 7759, 7760, 7761, 33751]","[Aniplex, GoHands, BROSTA TV, Mardock Scramble...",NaN,NaN,[],[],7.0,7.0
35587,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,2014-01-01,82.0,Released,Beware Of Frost Bites,22,0.0,NaN,NaN,NaN,...,2.185485,2.185485,"[17161, 18012, 18013, 23822]","[Odyssey Media, Pulser Productions, Rogue Stat...",NaN,NaN,[],[],4.3,4.3

Reindexamos el dataframe para saber en que puesto exacto estan las filas a borrar

In [475]:
df_movies.reset_index(inplace=True, drop=True)

In [476]:
df_movies.drop(labels= [19714, 29472, 35543], axis= 0, inplace=True)

In [477]:
df_movies['budget'] = df_movies['budget'].astype('float64')

Acomodar el formato de datetime de la columna release_date

In [ ]:
df_movies['release_date'].info()

In [479]:
df_movies['release_date']= pd.to_datetime(df_movies['release_date'], yearfirst=True)

Crear columna release_year

In [481]:
import datetime

In [482]:
release_year= []

for i in df_movies['release_date']:
    release_year.append(i.year)

In [483]:
df_movies['release_year']= release_year

Quitar valores duplicados segun la ID. Decido quitarlos para no tener informacion sobre la misma pelicula de forma repetida.

In [ ]:
df_movies.id.value_counts()

In [485]:
df_movies.drop_duplicates(subset=['id'], inplace=True)

Creacion de la columna return

In [487]:
def movie_return(row):
        if row['budget'] == 0:
                return 0
        else:
                return (row['revenue']/row['budget'])

In [488]:
df_movies['return'] = df_movies.apply(movie_return, axis=1)

Extraer datos necesarios del otro dataset: 'credits.csv'

In [489]:
df_credits = pd.read_csv('credits.csv', sep=',', encoding= 'utf-8')

In [ ]:
df_credits.head()

Desanidar actor

Verificando que tipo de dato son los registros

In [490]:
type(df_credits.cast[0])

str

Verificando que no existan nulos

In [491]:
df_credits.cast.isna().sum()

0

Desanidar solo los nombres de los actores

In [492]:
import ast

new_column= []

In [493]:
for i in df_credits['cast']:

    if type(i) == str:
        i= ast.literal_eval(i)
    
    new_column.append(i)

In [494]:
actors_names=[]

In [495]:
for i in new_column:

    if type(i) == float:
        actors_names.append(i)

    
    if type(i) == dict: 

        actors_names.append(i.get("name"))
    
    if type(i) == list:
        
        name= []

        for num in range(len(i)):

            name.append(i[num].get("name"))

        actors_names.append(name)

Agregar la nueva columna al dataframe

In [496]:
df_credits['actors_names']= actors_names

Desanidar directores

Verificar el tipo de dato

In [499]:
type(df_credits.crew[0])

str

Verificando que no existan nulos

In [500]:
df_credits.cast.isna().sum()

0

Desanidar solo los nombres de los directores

In [501]:
import ast

new_column= []

In [502]:
for i in df_credits['crew']:

    if type(i) == str:
        i= ast.literal_eval(i)
    
    new_column.append(i)

In [503]:
directors_names=[]

In [504]:
for i in new_column:

    if type(i) == float:
        directors_names.append(i)

    
    if type(i) == dict: 

        if i.get("job") == 'Director':

            directors_names.append(i.get("name"))

    
    if type(i) == list:
        
        name= []

        for num in range(len(i)):

            if i[num].get("job") == 'Director':

                name.append(i[num].get("name"))

        directors_names.append(name)

Agregar nueva columna al dataframe

In [506]:
df_credits['directors_names']= directors_names

Borrar columnas cast y crew que no seran utilizadas

In [507]:
df_credits.drop(columns= ['cast', 'crew'], inplace= True )

Cambiar el tipo de dato de id a int

In [508]:
df_movies['id'] = df_movies['id'].astype('int64')

Mergear ambos dataframes por la columna en comun ID

In [509]:
df_total = pd.merge(df_movies, df_credits, on='id', how='left')

In [510]:
df_total.columns

Index(['budget', 'id', 'original_language', 'overview', 'popularity',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'id_collection', 'name_collection',
       'poster_path_collection', 'backdrop_path_collection', 'id_genre',
       'name_genre', 'iso_639_1', 'name_language', 'id_production_companies',
       'name_production_companies', 'iso_country', 'name_country',
       'release_year', 'return', 'actors_names', 'directors_names'],
      dtype='object')

Guardar columnas descartadas por el momento en otro csv

In [511]:
descarte= df_total[['id_collection','poster_path_collection', 'backdrop_path_collection', 'id_genre', 'iso_639_1', 'id_production_companies', 'iso_country']]

In [512]:
descarte.to_csv('descarte.csv', index=False)

Eliminar esas columnas del dataframe original

In [513]:
df_total.drop(columns= ['id_collection','poster_path_collection', 'backdrop_path_collection', 'id_genre', 'iso_639_1', 'id_production_companies', 'iso_country'], inplace= True)

Resetear index

In [515]:
df_total.reset_index(inplace=True)
df_total.drop(columns='index', inplace= True)

Extraer dataframe total

In [516]:
df_total.to_csv('proyecto1.csv', index=False)